{% extends "base.html" %}
{% load i18n %}

{% block head_title %}
    {% trans "Change Password" %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h1 class="text-center">{% trans "Change Password" %}</h1>
                </div>
                <div class="card-body">
                    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="text-center mt-4">
                            <button class="btn btn-primary" type="submit" name="action">{% trans "Change Password" %}</button>
                            <a class="btn btn-link" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

