{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}


    <div class="login pt-5 mt-5  p-3 textcolor align-self-center bordercolor rounded">
          <h4>Log in</h4>
          <hr>
        <form method="POST">
            {% csrf_token %}
               {{ form|crispy }}
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Login</button> <br>
           </div>           
        </form>
        <a href="{% url 'password_reset' %}">forgot your password?</a>
        <a href="{% url 'user-register' %}">or create an account</a>
    </div>
</div>
   
{% endblock content %}
