
{% load static %}


<div class="m-3 mb-5 pb-5 left-sidebar ">
   
  <div class="pt-3  bg-light rounded p-1">
      <div class="d-grid">
          <div class=" bg-c text-white p-2">
            <img src="{% static 'icon_pngs/groups_FILL0_wght300_GRAD0_opsz24.png' %}" alt="">
             My groups
          </div>
      </div>
      <p class="bg-secondary text-white mt-1 px-2">Group Names</p>
      <ul class="list-unstyled">
          {% for group in groups %}
          <li>
              <a href="{% url 'toggle_group' group.id %}">
                  <img src="{% static 'icon_pngs/group_FILL0_wght400_GRAD0_opsz24.png' %}" alt="">&nbsp;{{ group.name }}</a>
          </li>
          {% endfor %}
      </ul>
  </div>
  <div class="pt-3 mt-5 bg-light rounded p-2 ">
      <div class="d-grid">
          <div class="bg-c text-white p-2 px-2" id="toggle-group-detail">
              <img src="{% static 'icon_pngs/groups_FILL0_wght300_GRAD0_opsz24.png' %}" alt="">Group Detail
          </div>
      </div>
      
      <ul class="list-unstyled">
        
          <li>
              <p class="bg-secondary text-white mt-1 px-2"><strong>Group Name :&nbsp;</strong></p>
              <img src="{% static 'icon_pngs/group_FILL0_wght400_GRAD0_opsz24.png' %}" alt="">&nbsp;&nbsp;
              {{ active_group.name }}

              <p class="bg-secondary text-white mt-3 px-2 "><strong>Group Admin :&nbsp;</strong></p>
              {% for admin in admins_as_members %}
             
              <img src="{% static 'icon_pngs/group_FILL0_wght400_GRAD0_opsz24.png' %}" alt="">&nbsp;&nbsp;
              {{ admin }}
              
              {% endfor %}
              <p class="bg-secondary text-white"><strong><img src="{% static 'icon_pngs/description_FILL0_wght300_GRAD0_opsz24.png' %}" alt="">Description:</strong></p>
              <div class="card p-2">
                  {{ active_group.description }}
              </div>
              <h3 class="text-orange">Members</h3>
              <div class=" members overflow-auto">
                
                {% for member in active_group.members.all %}
                
              <ul class="list-unstyled">
                <a href="{% url 'member_detail' group_id=active_group.id member_id=member.id %}">
                  <li><img src="{{ member.profile_pic.url }}" width="30" class="rounded-circle">
                      {{member}}{% if member.deceased %}<span class="text-danger">(Deceased)</span>{%endif%}{% if admin %}<span class="text-success">(Admin)</span>{%endif%} </li>
                  </ul>
               </a>
              {% endfor %}  
              </div>
          </li>
      </ul>
  </div>
</div>