{% load static %}


  <nav class="navbar navbar-expand-lg fixed-top bg-c mb-5">
    {% if messages %}
       {% for message in messages %}
         <div class=" alert-{{ message.tags }}">
           {{ message }}
         </div>
       {% endfor %}
     {% endif %} 

    
    <div class="container ">
      <a class="navbar-brand" href="{% url 'home'%}"><h3 class="text-orange">Chema</h3></a>
    
      <div class="btn">
        
        <a href="{% url 'create_group'%}"  class="badge rounded-pill bt-outline-orange ">Create Group</a>
        {% if not is_member %}
        <a href="{% url 'join_active_group' %}"  class="badge rounded-pill bt-outline-orange ">Join Group</a>
        <!-- Show content for non-members -->
       {% endif %}
      </div>
     
      <!-- Profile links with responsive class -->
      
      <div class="dropdown">
        <button class="bt-outline-orange dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Menu
        </button>
        <ul class="dropdown-menu">
          {% if user.is_authenticated %}
          <img class="rounded-circle article-img" src="{{ user.profile.profile_pic.url }}" width="40">
          <li><a class="dropdown-item"  href="{% url 'profile' %}">&nbsp;<strong>{{ user.username }}</strong></a></li>
          <li><a class="dropdown-item" href="{% url 'logout' %}">&nbsp; <strong>Logout</strong></a></li>
          <li><a class="dropdown-item" href="">&nbsp; <strong>Settings</strong></a></li>
          {% else %}
          <li><a class="dropdown-item"href="{% url 'login' %}"> &nbsp;<strong> Login</strong></a></li>
          {% endif %}
        </ul>
      </div>
    </div>
</nav>. 
