{% load static%}
<div class="w-100 ">
    <form id="search-form">
     {% csrf_token %}
      <input type="text"  maxlength="100" placeholder="Search..."
      class="textinput textInput form-control search-input">
    </form>
 </div>
 
      <div class="box  p-2 border mt-2 rounded overflow-auto">
        <div class="search-results">
        </div>
      </div>
      <h2 class="title text-orange">Contributions List <span class="badge text-bg-primary">n{{list_count}}</span></h2>
      <div class="container  h-75 overflow-auto">
        <div class="card ">
         <ul class="list-group">
            {% for contribution in contributions %}
                <li class="list-group-item">
                    <a href="{% url 'contribution_detail' contribution.id %}">
                     <strong>{{ contribution.contributing_member }}</strong>  </a>
                        contributed  on {{ contribution.contribution_date }} {{list_count}}for deceased_member
                        <span class="text-danger">&nbsp;<strong>: {{ contribution.deceased_member.all|join:", " }}</strong></span>
                </li>
            {% endfor %}
          </ul>    
        </div>
        
    </div>
 
<!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
             $(document).ready(function () {
                 // Attach an event listener to the search input field
                 $('.search-input').on('input', function () {
                     var query = $(this).val();  // Get the search query from the input
                     // Make an AJAX request to the search view
                     $.ajax({
                         url: '/search/',  
                         data: {
                             'q': query
                         },
                         success: function (response) {
                             var resultsContainer = $('.search-results');
                             resultsContainer.empty();  // Clear previous results
                             // Loop through the results and add them to the container
                             $.each(response.results, function (index, result) {
                                 if ('name' in result) {
                                     // If it's a group result
                                     var link = '<a href="/group_detail_view/' + result.id + '/">' + result.name + '</a>';
                                     resultsContainer.append('<p>' + link + '</p>');
                                 } else if ('username' in result) {
                                     // If it's a member result
                                     var link = '<a href="/member_detail/' + result.id + '/">' + result.username + '</a>';
                                     resultsContainer.append('<p>' + link + '</p>');
                                 }
                        });
                  }
             });
        });
    });
</script>          -->