{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
   <div class="mt-5 pt-5">
        <h1>Add New Member to {{ group.name }}</h1>

        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-secondary">Add Member</button>
        </form>
    <div class="row">
    <div class="card text-bg-dark cover">
      
        <div class="card-img-overlay">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small>Last updated 3 mins ago</small></p>
        </div>
      </div>
   </div>
   </div> 

   

   
{% endblock %}
