{% extends 'base.html' %}
{% load crispy_forms_tags %}
<title>Create Post</title>

{% block content %}
    <div class="mt-5 pt-5">
        <div class="d-grid">
            <button class="btn btn-success"> Create Post in : {{ group.name }}</button>
        </div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit"class='btn btn-secondary'>Create Post</button>
        </form>
    </div>    
{% endblock  %}