{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block sidebar-left %}
    <!-- Sidebar content here -->
{% endblock %}

{% block content %}
<div class=" mt-5 pt-5 w-50">
    
        <h1>Delete Post</h1>
            <p>Are you sure you want to delete this post?</p>
            <strong>Author:</strong><p> {{ post.author.username }}</p>
            <strong>Content:</strong> <p>{{ post.content }}</p>
            
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Delete<span class="material-symbols-outlined">
                    delete_forever
                    </span></button>
                <a href="{% url 'home' %}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
 
{% endblock %}

{% block sidebar-right %}
    <!-- Right sidebar content here -->
{% endblock %}