{% extends "partials/base.html" %}



{% block content %}
<div class="container mt-5">
    
    <h1 class=" text-blue">Group: <span class="text-light-blue">{{ group.name }}</span></h1>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-header "><span class="text-orange"><h4>Group Info</h4></span></div>
          <div class="card-body">
            <img src="{{group.cover_image.url}}" width="300" alt="">
            <div>
              <strong><h3 class="text-orange">Description</h3> </strong>
                <div class="card p-3 m-2 ">
                  <p>{{ group.description }}</p>
                </div>
            </div>
            
          </div>
        </div>
      </div>
      <div class="col-md-8">       
        <div class="card">
          <div class="card-header"><span class="text-orange"><h4> Total Members.. {{count_members}}</h4></span></div>
          <div class="card-body">
            <ul class="  h-25 overflow-auto">
              {% for member in members %}
             <span class="bg-light">	&#128509;{{ member.user.username }}&nbsp; </span>
            {% endfor %}
            </ul>
          </div>
        </div>
        <div class="card mt-3">
          <div class="card-header"><span class="text-orange"><h4>Admins.. {{count_admins}}</h4></span></div>
          <div class="card-body">
            <ul>
              {% for admin in group_admins %}
              &#128509;{{ admin }}
               {% endfor %}
            </div>
            </ul>
          </div>
          <div class="card mt-3">
            <div class="card-header"><span class="text-orange"><h4>Deceased Members..{{deceased.count}}</h4></span></div>
            <div class="card-body">
              <ol>
                
                {% for member in deceased %}
                
                  <li>
                    <strong class="text-light-blue">{{ member.deceased}}</strong> passed a away on <strong>{{member.date}}</strong>  group admin <strong> {{member.group_admin}}</strong></li>{{member.group}}
                 
                {% endfor %}
               
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

