{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block sidebar-left %}
<div class="pt-3 m-3 mb-5 pb-5 left-sidebar">
    <div class="aside">
        <div class="pt-3 mt-5 bg-light rounded p-2">
            <div class="d-grid">
                <button class="btn btn-success">
                    <img src="{% static 'icon_pngs/groups_FILL0_wght300_GRAD0_opsz24.png' %}" alt="">
                    My groups
                </button>
            </div>
            <p class="bg-secondary mt-3">Group Names</p>
            <ul class="list-unstyled">
                {% for group in groups %}
                <li>
                    <a href="{% url 'toggle_group' group.id %}">
                        <img src="{% static 'icon_pngs/group_FILL0_wght400_GRAD0_opsz24.png' %}" alt="">&nbsp;{{ group.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="pt-3 mt-5 bg-light rounded p-2 ">
            <div class="d-grid">
                <button class="btn btn-primary" id="toggle-group-detail">
                    <img src="{% static 'icon_pngs/groups_FILL0_wght300_GRAD0_opsz24.png' %}" alt="">Group Detail
                </button>
            </div>
            {% for group in groups %}
            <ul class="list-unstyled">
                <li>
                    <p class="bg-secondary mt-3"><strong>Group Name :&nbsp;</strong></p>
                    <img src="{% static 'icon_pngs/group_FILL0_wght400_GRAD0_opsz24.png' %}" alt="">&nbsp;&nbsp;
                    {{ group.name }}

                    <p class="bg-secondary mt-3"><strong>Group Admin :&nbsp;</strong></p>
                    {% for admin in group.admins_as_members.all %}
                    <img src="{% static 'icon_pngs/group_FILL0_wght400_GRAD0_opsz24.png' %}" alt="">&nbsp;&nbsp;
                    {{ admin.username }}
                    {% endfor %}
                    <p class="bg-secondary"><strong><img src="{% static 'icon_pngs/description_FILL0_wght300_GRAD0_opsz24.png' %}" alt="">Description:</strong></p>
                    <div class="card p-2">
                        {{ group.description }}
                    </div>
                    <h3>Members</h3>
                    {% for member in group.members.all %}
                    <a href="{% url 'member_detail' pk=member.id %}">
                        <img src="{{ member.profile.profile_pic.url }}" width="30" class="rounded-circle">{{ member.username }}
                    </a>
                    {% endfor %}
                </li>
            </ul>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

<!----------------------- Main Content-------------------- -->
    {% block content %}
  

<div class="main w-50 ">
    <div class="row">
       
        <div class="card text-bg-dark cover" style="background-image: url('{{ active_group.cover_image.url }}');
                                                    background-size: cover;
                                                    background-position: center center;
                                                    background-repeat: no-repeat;">
                  
            <div>
               <h5 class="card-title"> <h1>{{ active_group.name }}</h1></h5>
            </div>
            <div class="h-50 d-inline-block ">
                    
            </div>
            <span class="align-bottom pt-4 mt-5 ">
                <a href="{% url 'createPost' group.id %}" class="btn btn-light float-end">
                   Create Post <img src="{% static 'icon_pngs/post_add_FILL0_wght300_GRAD0_opsz24.png' %}" alt="">
                </a>
                 <a href="{% url 'add_member' group.id %}" class="btn btn-primary float-end mx-1 ">
                     <img src="{% static 'icon_pngs/person_add_FILL0_wght400_GRAD0_opsz24.png' %}" alt="">Add Member
                 </a>
                 <a href="{% url 'add_admin' group.id %}" class="btn btn-primary float-end">
                    <img src="{% static 'icon_pngs/person_add_FILL0_wght400_GRAD0_opsz24.png' %}" alt="">Add Admin
                 </a>                     
            </span>
        </div>
       
         
    </div>
</div>
   
 
  </div> 
{% endblock%}

<!-- ---------------------------------Right Sidebar------------------------------------- -->

{% block sidebar-right %}
<div></div>
        <div class="w-100 mt-5 pt-5">
            <form id="search-form">
                {% csrf_token %}
                <input type="text" id="search-input" maxlength="100" placeholder="Search..."
                    class="textinput textInput form-control" required="" id="id_name">
            </form>
        </div>
        <div class="card mt-3 p-2 h-25 overflow-auto">
            <div id="search-results"></div>
        </div>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            $(document).ready(function () {
                // Attach an event listener to the search input field
                $('#search-input').on('input', function () {
                    var query = $(this).val();  // Get the search query from the input
                    // Make an AJAX request to the search view
                    $.ajax({
                        url: '/search/',  // Replace with your search view URL
                        data: {
                            'q': query
                        },
                        success: function (response) {
                            var resultsContainer = $('#search-results');
                            resultsContainer.empty();  // Clear previous results
                            // Loop through the results and add them to the container
                            $.each(response.results, function (index, result) {
                                var link = '<a href="/group_detail_view/' + result.id + '/">' + result.name + '</a>';
                                resultsContainer.append('<p>' + link + '</p>');
                            });
                        }
                    });
                });
            });
        </script>
        </div>
{% endblock %}
