{% extends "base.html" %}

{% block content %}
  <div class="container mt-3">
    <h1 class="text-blue"> Username: <span class="text-light-blue">{{ object }}</span></h1>
    <h1 class=" text-blue">Group: <span class="text-light-blue">{{ group.name }}</span></h1>
   

    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-header "><span class="text-orange">Profile Info</span></div>
          <div class="card-body">
            <img src="{{ member.profile_pic.url }}" alt="{{ member.user.username }}" class="img-fluid">
            <p><strong>Username:</strong> {{ object }}</p>
            <p><strong>Bio:</strong> {{ bio }}</p>
            <p><strong>Phone:</strong> {{ phone }}</p>
            <p><strong>Address:</strong> {{ address }}</p>
            <p><strong>Deceased:</strong> {% if member.deceased %}
              <span class="text-danger">Yes</span>
            {% else %}
              No
            {% endif %}</p>
            
            {% if user.profile == group.admin %}
              <form method="post">
                {% csrf_token %}
                {% if not member.deceased %}
                  <input type="submit" name="mark_member_as_deceased" value="Mark as Deceased">
                {% else %}
                  <p>This member is marked as deceased.</p>
                {% endif %}
              </form>
            {% else %}
              <p>Only group admin can mark this member as deceased.</p>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="col-md-8">       
        <div class="card">
          <div class="card-header"><span class="text-orange">Groups</span></div>
          <div class="card-body">
            <ul>
              {% for group in groups %}
                <li>{{ group.name }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="card mt-3">
          <div class="card-header"><span class="text-orange">Dependents</span></div>
            <div class="card-body">
              <ul>
                {% for dependent in dependents %}
                  <li>{{ dependent.name }}</li>
                {% endfor %}
              </ul>
            </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
