body{
    font-family: 'Shanti', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    
   
}
.comment{
    font-size: small;
    font-weight: 100;
}
.post{
    font-weight: 700;
}
.sidebar-left {
    
    position:fixed;
    top: 0;
    left: 0;
    width: 25%;
    height: 900px;
    background-color:#bfeeeb;
    color: rgb(84, 84, 86);
    padding: 10px;
    box-sizing: border-box;
}
.left-sidebar {
    height: 100%;
    overflow-y: auto;
    margin-bottom: 10px;
}


.main-content {
    width: 50%;
    margin-right: 25%; /* Sidebar width */
    padding: 10px;
    box-sizing: border-box;
}

.sidebar-right {
    position: fixed;
    margin-left: 10px;
    top: 0;
    right: 0;
    width: 25%;
    height: 100vh;
    background-color: #bfeeeb;
    color: rgb(84, 84, 86);
    padding: 20px;
    box-sizing: border-box;
}

    .cover{
        background-color: chocolate;
        background-image: url('C:\Users\tjman\Desktop\projects\chema\static\group_cover_images\cover 10.jpg');
        background-size: cover;
        background-position: center;
        min-height: 300px;
    }
   
    


.bg-color{
    background-color: rgba(75, 30, 30, 0.292);
    color: aliceblue;
}