{% extends "base.html" %}
{% load crispy_forms_tags %}




{% block content %}

{% load static %}
<div class="mt-5 pt-5">
       

    <h1>Create a group</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <div>
             <label><input type="radio" name="cover_choice" value="existing"> Choose from existing images</label>
        </div>
        <div>
            <label><input type="radio" name="cover_choice" value="upload"> Upload a new image</label>
        </div>
       
        
        <div class="existing-image-choice" >
            {% for choice_value, choice_label in form.cover_image.widget.choices %}
                <label>
                    <input type="radio" name="{{ form.cover_image.name }}" value="{{ choice_value }}">
                    <img src="{{ images_directory }}{{ choice_label }}" alt="Thumbnail">
                </label>
            {% endfor %}
        </div>
        {{ form.cover_image }}
        <button type="submit">Create Group</button>
    </form>
    
    
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
    $(document).ready(function() {
        $("input[name='cover_choice']").change(function() {
            var choice = $("input[name='cover_choice']:checked").val();
            if (choice === 'existing') {
                $(".existing-image-choice").show();
                $("input[name='cover_image']").hide();
            } else if (choice === 'upload') {
                $(".existing-image-choice").hide();
                $("input[name='cover_image']").show();
            }
        });
    });
    </script>
    
    

{% endblock %}
