{% extends 'base.html' %}

{% block content %}
<div class="mt-5 pt-5 w-50 mb-5">
      <h1>Member Detail</h1>
    <img src="{{member.profile.profile_pic.url }}" alt="{{ member.username }}'s profile picture">
    <p>Name: {{ member.username }}</p>
    <p>Email: {{ member.email }}</p>
    <p class="bg-secondary">Profile:</p>
    <ul>
      <li><strong>Bio:</strong> 
        <figure class="figure bg-body-tertiary">{{ profile.bio }}</figure> 
      </li>
      <li> <strong>Address:</strong> <p>{{ profile.address }}</p></li>
      <li><strong>Phone: </strong> {{ profile.phone }}</li>
    </ul>
    <p class="bg-secondary">Groups:</p>
    <ul>
      {% for group in groups %}
        <li>  <strong>Name:</strong>{{ group.name }}
         <p> <strong>Description:</strong>{{ group.description }}</p></li>
      {% endfor %}
    </ul>
    <p class="bg-secondary">Dependents:</p>
    <table class="table w-100">
      <tr>
        <th >Name</th>
        <th >Date of Birth</th>
        <th >Country</th>
      </tr>
      {% for dependent in dependents %}
      <tr>
        <td>{{ dependent.name }}</td>
        <td>{{ dependent.date_of_birth }}</td>
        <td>{{ dependent.relationship }}</td>
      </tr>
      {% endfor %}
    </table>
    <div class="d-grid ">
      <a href="{% url 'add_dependents'%} " class="btn btn-success">add Spouse or Child </a>
    </div>
       

</div>
{% endblock %}
