{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
   <div class="card">
    <div class="card-header">
      <h1 class="card-title  "><h1 class="text-blue">Contribution Detail</h1></h1>
    </div>
    <div class="card-body">
        
        <p><strong class="text-blue">Contributing Member: &nbsp;&nbsp;</strong> {{ contribution.contributing_member }}</p>
        <p><strong class="text-blue">Amount:</strong> &nbsp;{{ contribution.amount }}</p>
        <p><strong class="text-blue">Contribution Date:</strong> &nbsp;{{ contribution.contribution_date }}</p>
        <p><strong class="text-blue">Deceased Member:</strong>&nbsp; {{ contribution.deceased_member }}</p>
        <p><strong class="text-blue">Group Admin:</strong> &nbsp;{{ contribution.group_admin }}</p>
        
        </ul> 
        <div class="card-footer">
            <a href="{% url 'create_contribution' %}"> <button class="bt-outline-orange">Back to Contributions</button></a>
        </div>
    </div>
  </div>
</div>




{% endblock %}
