{% extends 'base.html' %}

{% block content %}
<div class=" section mt-5 pt-5  mb-5 ">
  
    
      <h1>Member Profile</h1>
    <img src="{{member.profile_pic.url }}"width='100' alt="{{ member}}'s profile picture">
    <p class="">Name: {{ member.username }}</p>
    <p>Email: {{ member.email }}</p>
   
    {% if request.user.profile in active_group.admins_as_members.all %}
    <p>User is an admin of this group</p>
    <a href="{% url 'update_deceased_status' profile.id %}">Update Deceased Status</a>
    {% else %}
    <p>User is not an admin of this group</p>
    
   {% endif %}
    <p class="bg-secondary mt-1">Profile:</p>
    <ul>
      <li><strong>Bio:</strong> 
        <figure class="figure bg-body-tertiary">{{ profile.bio }}</figure> 
      </li>
      <li> <strong>Address:</strong> <p>{{ profile.address }}</p></li>
      <li><strong>Phone: </strong> {{ profile.phone }}</li>
    </ul>
    <p class="bg-secondary">Groups:</p>
    {% for group in groups %}
    <div class=" text-white rounded m-3 p-2" style="background-image: url('{{ group.cover_image.url}}');
                                                                                            background-size: cover;
                                                                                            background-position: center center;
                                                                                            background-repeat: no-repeat;">
      
         <strong>Name:</strong><p>{{ group.name }}</p>
         {% for admin in group.admins_as_members.all %}
            <li>{{admin}}</li>
        {%endfor%}
         <strong>Description:</strong><p class="bg-light-subtle text-success  rounded m-3 p-2"> {{ group.description }}</p>
        </div>
      {% endfor %}
     
    </ul>
    <p class="bg-secondary">Dependents:</p>
    <table class="table w-100">
      <tr>
        <th >Name</th>
        <th >Date of Birth</th>
        <th >Country</th>
      </tr>
      {% for dependent in dependents %}
      <tr>
        <td>{{ dependent.name }}</td>
        <td>{{ dependent.date_of_birth }}</td>
        <td>{{ dependent.relationship }}</td>
      </tr>
      {% endfor %}
    </table>
    <div class="d-grid ">
      <a href="{% url 'add_dependents'%} " class="btn btn-success">add Spouse or Child </a>
    </div>

       

</div>
{% endblock %}
