
{% load crispy_forms_tags %}


  <div class="container mt-5">
    <div class="card">
      <div class="card-header">
        <h2 class="card-title">Contributions List</h2>
      </div>
      <div class="card-body">
        <h1>Contributions List</h1>
    <ul>
        {% for contribution in contributions %}
            <li><a href="{% url 'contribution_detail' contribution.id %}">{{ contribution.contributing_member }} - {{ contribution.contribution_date }}</a></li>
        {% endfor %}
    </ul>

    <!-- Add a button or link to create a new contribution if needed -->
    <a href="{% url 'create_contribution' %}" class="btn btn-primary">Create New Contribution</a>
      </div>
    </div>
  </div>

