
<nav class=" navbar navbar-expand-lg fixed-top bg-success mb-5 ">
  <div class="container">
    
  
      <a class="navbar-brand text-white" href="{% url 'home'%}"><h3>Chema</h3></a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ">
            <a class="nav-link active btn btn-outline-light" aria-current="page" href="{% url 'home'%}">Home <img src="static\icon_pngs\home_FILL0_wght300_GRAD0_opsz24.png" alt=""></a>
          </div>&nbsp;
          <a href="{% url 'create_group'%}" class="btn btn-outline-light">
            <img src="static\icon_pngs\group_FILL0_wght400_GRAD0_opsz24.png" alt="">Create Group
          </a>&nbsp;
          <a href="{% url 'join_existing_group'%}" class="btn btn-outline-light">
            <img src="static\icon_pngs\group_add_FILL0_wght300_GRAD0_opsz24.png" alt="">join Group
          </a>&nbsp;
          <div class="w-50 text-center">
            {% if messages %}
             {% for message in messages %}
               <div class="alert alert-{{ message.tags }}">
                 {{ message }}
               </div>
             {% endfor %}
           {% endif %}
          </div>
          
      </div>
     
    
                
            {% if user.is_authenticated %}
            <a class="nav-link" href="{% url 'account_logout' %}"> logout</a>
            {% else %}
            <a class="nav-link" href="{% url 'account_login' %}"> Login </a>
            {%endif%}
          
            <img class="rounded-circle account-img m-3" width="40" src="{{ user.profile.profile_pic.url }}">
            <a class="nav-item nav-link" href="{% url 'profile' %}">{{user.username}}</a>
          
  </div>
  
</nav>

 