{% load static%}
<div class="w-100 ">
    <form id="search-form">
     {% csrf_token %}
      <input type="text"  maxlength="100" placeholder="Search..."
      class="textinput textInput form-control search-input">
    </form>
 </div>
 
      <div class="box  p-2 border mt-2 rounded overflow-auto">
        <div class="search-results">
        </div>
      </div>
      <div class="container mt-5">
        <div class="card">
          <div class="card-header">
            <h2 class="card-title">Contributions List</h2>
          </div>
          <div class="card-body">
            <h1>Contributions List</h1>
        <ul>
            {% for contribution in contributions %}
                <li><a href="{% url 'contribution_detail' contribution.id %}">          {{ contribution.contributing_member }} contributed {{ contribution.amount }} on {{ contribution.contribution_date }} in {{ contribution.group.name }} for {{ contribution.deceased_member.all|join:", " }}
                </a></li>
            {% endfor %}
        </ul>

       
        <!-- Add a button or link to create a new contribution if needed -->
        <a href="{% url 'create_contribution' %}" class="btn btn-primary">Create New Contribution</a>
          </div>
        </div>
      </div>
 
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
             $(document).ready(function () {
                 // Attach an event listener to the search input field
                 $('.search-input').on('input', function () {
                     var query = $(this).val();  // Get the search query from the input
                     // Make an AJAX request to the search view
                     $.ajax({
                         url: '/search/',  
                         data: {
                             'q': query
                         },
                         success: function (response) {
                             var resultsContainer = $('.search-results');
                             resultsContainer.empty();  // Clear previous results
                             // Loop through the results and add them to the container
                             $.each(response.results, function (index, result) {
                                 if ('name' in result) {
                                     // If it's a group result
                                     var link = '<a href="/group_detail_view/' + result.id + '/">' + result.name + '</a>';
                                     resultsContainer.append('<p>' + link + '</p>');
                                 } else if ('username' in result) {
                                     // If it's a member result
                                     var link = '<a href="/member_detail/' + result.id + '/">' + result.username + '</a>';
                                     resultsContainer.append('<p>' + link + '</p>');
                                 }
                        });
                  }
             });
        });
    });
</script>         