<span class="align-bottom pt-4 mt-5 ">
                <a href="{% url 'createPost' active_group.id %}" class=" float-end">
                    Create Post <img src="{% static 'icon_pngs/post_add_FILL0_wght300_GRAD0_opsz24.png' %}" alt="">
                </a>
                 <a href="{% url 'add_member' active_group.id %}" class=" float-end mx-1 ">
                     <img src="{% static 'icon_pngs/person_add_FILL0_wght400_GRAD0_opsz24.png' %}" alt="">Add Member
                 </a>
                 <a href="{% url 'add_admin' active_group.id %}" class="float-end">
                    <img src="{% static 'icon_pngs/person_add_FILL0_wght400_GRAD0_opsz24.png' %}" alt="">Add Admin
                 </a>  
            </span>


            <a href="{% url 'create_group'%}" class="btn btn-outline-light">
                <img src="static\icon_pngs\group_FILL0_wght400_GRAD0_opsz24.png" alt="">Create Group
              </a>&nbsp;
              <a href="{% url 'join_existing_group'%}" class="btn btn-outline-light">
                <img src="static\icon_pngs\group_add_FILL0_wght300_GRAD0_opsz24.png" alt="">join Group
              </a>&nbsp;